{{ define "main" }}
    <article class="notizie">
        {{ $dayOfWeek := dateFormat "Monday" .Date }}
        {{ $month := dateFormat "01" .Date }}

        <h5 class="date">{{ index $.Site.Data.date.giorniDellaSettimana $dayOfWeek }}, {{ dateFormat "2" .Date }} {{ index $.Site.Data.date.mesi $month }} {{ dateFormat "2006" .Date }}</h5>
        <h1>{{ .Params.title }}</h1>
        <div class="thumbnail">
            <img src="{{ .Params.thumbnail }}" title="{{ .Params.thumbnail_description }}" />
            <h5>{{ .Params.thumbnail_description }}</h5>
        </div>

        <div class="content">
            {{ .Content }}
        </div>
    </article>
{{ end }}