body {
/*
	$ratio: 3;
	$offset: 30px;

	header {
		height: $header-height / $ratio;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / $ratio;

			height: $logo-height / $ratio / 1.5;
			width: $logo-width / $ratio / 1.5;
			
			img {
				width: inherit;
			}
		}

		nav {
			height: 50px;
		}

		.onorificenze {
			top: $offset;
			right: $offset;
			
			li {
				padding-bottom: 6px;
				font-size: 18pt;
			}
		}
	}
*/
}
