body {
	$offset: 10px;
	$ratio: 5;

	header {
		height: $header-height / $ratio;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;
			height: $logo-height / $ratio / 1.5;
			width: $logo-width / $ratio / 1.5;
			
			img {
				width: inherit;
			}
		}

		nav {
//			height: auto;
			ul {
				li {
//					display: block;

					a {
//						width: 100%;
					}
				}
			}
		}
	
		.onorificenze {
			max-width: 40%;
			top: $offset;
			right: $offset;

			li {
				font-weight: bold;
				padding-bottom: 2px;
				font-size: 9pt;
			}
		}
	}
}
