body {
/*	
	$offset: 20px;
	$ratio: 4;

	header {
		height: $header-height / $ratio;
		
		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;

			height: $logo-height / $ratio / 1.5;
			width: $logo-width / $ratio / 1.5;
			
			img {
				width: inherit;
			}
		}
	
		.onorificenze {
			top: $offset;
			right: $offset;
			li {
				padding-bottom: 4px;
				font-size: 12pt;
				color: blue;
			}
		}
	}
*/
}
