<footer>
    <div class="datiSocietari">
        <p class="h-card">
            <a class="p-name u-url" href="http://teamromagnajudo.it">Team Romagna Judo</a>
            <span class="p-street-address">Via Garibaldi, 23</span>
            <span class="p-postal-code">48022</span>
            <span class="p-locality">Lugo</span>
            <span class="p-region">Ravenna</span>
            <span>email: <a class="u-email" href="mailto:teamromagnajudo1972@libero.it">teamromagnajudo1972@libero.it</a></span>
            <br/><br/>
            <span class="credits">Fotografie a cura di Lorenzo Drei - <a href="https://500px.com/lorenzodrei">500px</a> / <a href="https://www.instagram.com/drloren_/">Instagram</a></span>
        </p>
    </div>
    <div class="sponsor">
        <ul>{{ range $.Site.Data.sponsor }}
            <li>
                <a href="{{ .url }}"><img src="{{ .image }}" /></a>
            </li>
        {{ end }}</ul>
    </div>
</footer>