<footer>
    <div class="datiSocietari">
        <p class="h-card">
            <!-- img class="u-photo" src="http://example.org/photo.png" alt="" / -->
            <a class="p-name u-url" href="http://teamromagnajudo.it">Team Romagna Judo</a>
            <span class="p-street-address">Via Garibaldi, __</span>
            <span class="p-postal-code">48022</span>
            <span class="p-locality">Lugo</span>
            <span class="p-region">Ravenna</span>
            email: <a class="u-email" href="mailto:teamromagnajudo1972@libero.it">teamromagnajudo1972@libero.it</a>
        </p>
    </div>
    <div class="sponsor">
        <ul>{{ range $.Site.Data.sponsor }}
            <li>
                <a href="{{ .url }}"><img src="{{ .image }}" /></a>
            </li>
        {{ end }}</ul>
    </div>
</footer>