{{ $currentPage := . }}

<header>
    <div class="carousel">
        <ul class="panes">
            <li><img src="/images/header/01.jpg" alt=""></li>
            <li><img src="/images/header/02.jpg" alt=""></li>
            <li><img src="/images/header/03.jpg" alt=""></li>
            <li><img src="/images/header/04.jpg" alt=""></li>
            <li><img src="/images/header/05.jpg" alt=""></li>
        </ul>
    </div>

    <div class="header">
        <div class="top">
            <div class="logo">
                <a href="{{- .Site.BaseURL -}}">
                    <img src="/images/logo.png">
                </a>
            </div>
            <div class="spacer"></div>
            <div class="onorificenze">
                <ul>{{ range $.Site.Data.onorificenze }}
                    <li>{{ .descrizione }}</li>
                {{ end }}</ul>
            </div>
        </div>

        <nav class="navigation">
            <ul>{{ with .Site.Menus.main }}
                {{ range . }}
                    <li><a {{if eq $currentPage.Params.menu .Identifier }} class="active"{{end}} href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}</ul>
        </nav>
    </div>
</header>