<ul class="navigazioneAbilità">
    <li {{ if eq .Params.title "Agilità"}}class="selected"{{ end }}><a href="/agilita">Agilità</a></li>
    <li {{ if eq .Params.title "Equilibrio"}}class="selected"{{ end }}><a href="/equilibrio">Equilibrio</a></li>
    <li {{ if eq .Params.title "Forza"}}class="selected"{{ end }}><a href="/forza">Forza</a></li>
    <li {{ if eq .Params.title "Rispetto"}}class="selected"{{ end }}><a href="/rispetto">Rispetto</a></li>
    <li {{ if eq .Params.title "Sicurezza"}}class="selected"{{ end }}><a href="/sicurezza">Sicurezza</a></li>
    <li {{ if eq .Params.title "Tecnica"}}class="selected"{{ end }}><a href="/tecnica">Tecnica</a></li>
</ul>