//	FlexBox cheatsheet: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
$header-height: 800px;
$logo-width: 800px;
$logo-height: 471px;

$blue: rgba(45, 65, 135, 1);
$red: rgba(196, 45, 42, 1);

$white: rgba(255, 255, 255, 1);
//$yellow: rgb(242, 240, 8);
$yellow: rgb(222, 220, 8);

$orange: rgb(241, 148, 22);
$green: rgb(31, 150, 12);
$blue: rgb(30, 19, 106);
$brown: rgb(55, 28, 6);
$black: rgba(20, 20, 20, 1);

$numberOfImagesInHeaderCarousel: 5;
$carouselDuration: 20s;


@import "normalize";
@import "_flex";
@import "sizes/_options";

h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	margin: 0px;
	font-family: sans-serif;

	&.home {
		header {
			.header {
				height: 66vw;
			}
		}
	}
}

header {
	position: relative;
	overflow: hidden;

	background-color: gray;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("/images/header/_.jpg");
	background-position-y: bottom;
	
	.carousel {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		overflow: hidden;
		
		.panes {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			width: 100% * $numberOfImagesInHeaderCarousel;

			-moz-animation: carousel $carouselDuration infinite;
			-webkit-animation: carousel $carouselDuration infinite;
			animation: carousel $carouselDuration infinite;	
			
			li {
				position: relative;
				float: left;
				width: 100% / $numberOfImagesInHeaderCarousel;

				img {
					display: block;
					width: 100%;
					max-width: 100%;
				//	opacity: 0.5;
				}				
			}
		}
	}	

	&.palestre {
		background-image: url("/images/header/palestre.jpg");
		background-position-y: top;
	}

	&.corsi {
		background-image: url("/images/header/corsi.jpg");
		background-position-y: top;
	}

	&.notizie {
		background-image: url("/images/header/notizie.jpg");
		background-position-y: top;
	}

	&.materiale {
		background-image: url("/images/header/materiale.jpg");
		background-position-y: top;
	}

	&.album {
		background-image: url("/images/header/album.jpg");
		background-position-y: top;
	}
	
	.header {
		position: relative;
		top: 0px;
		left: 0px;
//		height: 66vw;

		@include flexbox;
		@include flex-direction(column);
		@include justify-content(space-between);

		.top {
			@include flexbox;
			@include flex-direction(row);
			@include justify-content(space-between);

			margin: 1em;
			margin-bottom: 2vw;

			.logo {
				@include align-self(flex-start);
				background-color: rgba(255, 255, 255, 0.6);
				padding: 1em;
				border-radius: 0.5em;
				width: 40%;
				max-width: 300px;
				
				&:hover {
					background-color: rgba(255, 255, 255, 0.8);
				};

				a {
					display: block;

					img {
						width: 100%;
					}
				}
			}
			
			.spacer {
				width: 3em;
			}

			.onoreficenze {
				@include flexbox;
				@include flex-direction(column);

				text-decoration: none;
				div {
					font-size: 3vw;
					background-color: rgba(255, 255, 255, 0.3);
					border-radius: 0.5em;
					margin: 0px;
					padding: 1em;

					&:hover {
						background-color: rgba(255, 255, 255, 0.5);
					};
					h3 {
						font-size: 1em;
						text-align: right;
						color: white;
						font-family: serif;

						.onoreficenza {
							font-style: italic;
						}
					}
					h5 {
						font-size: 0.8em;
						text-align: right;
						color: white;
						font-family: serif;
						font-style: italic;
					}
				}
			}
		}
	
		nav {
			background-color: rgba(255, 255, 255, 0.6);
			
			ul {
				@include flexbox;
				@include flex-wrap(wrap);

				li {
					@include flex-grow(1);
					
					a {
						text-align: center;
						display: block;
					//	border-radius: 5px;
					//	margin:5px;
						font-size: 2.5vw;
						padding: 1.5em;
						border-right: 1px solid white;
						border-bottom: 1px solid white;
						
						color: $blue;
						font-weight: bold;
						text-decoration: none;

						&:hover {
							background-color: rgba(255, 255, 255, 0.7);
						}

						&.active {
							background-color: $blue;
							color: white;
						}
						
					}
				}
			}
		}
	}
}

#main {
	padding: 1em;
	max-width: 100%;
	overflow: hidden;

	h1 {
		margin: 0.2em 0em;
	}

	p {
		margin-bottom: 0.5em;

		img {
			width: 80vw;
		}
	}

}

#main.home {
	@include flexbox;
	@include flex-direction(row-reverse);
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	padding: 0px;
	
	.mainContent {
		font-size: 2.5vw;
		@include flex(3);
		padding: 1em;
		// min-width: 25em;

		h1 {
			font-size: 2em;
		}
	
		h3 {
			font-size: 1.5em;
		}
	
		& > ul {
			@include flexbox;
			@include flex-direction(row);
			@include flex-wrap(wrap);

			& > li {
				@include flex(1);

				& > ul {
					@include flexbox;
					@include flex-direction(column);
							
					& > li {
						@include flex(1);

						$padding: 0.2em;
						
						font-size: 2.5em;
						font-weight: bolder;
						text-align: left;
						padding: $padding;
						height: 10vw;
		
						background-image: url("/images/cinture/bianca.png");
						background-repeat: no-repeat;
						background-position-x: $padding;
						background-position-y: $padding;
						background-size: 2em;
		
						a {
							padding-left: 2.3em;
							text-decoration: none;
							font-variant: small-caps;
							
							color: black;
							&:visited {
								color: black;
							}
						}

						&:hover {
							background-color: #f5f5f5;
							border-radius: 0.1em;
						}
						
						& + li {
							background-image: url("/images/cinture/gialla.png");

							& + li {
								background-image: url("/images/cinture/arancione.png");
							}							
						}							
					}
				}

				& + li {
					& > ul {
						& > li {
							background-image: url("/images/cinture/verde.png");

							& + li {
								background-image: url("/images/cinture/blue.png");
	
								& + li {
									background-image: url("/images/cinture/marrone.png");
								}							
							}							
						}
					}
				}
			}
/*			
			font-size: 1.3em;
	
			li {
				margin: 0.1em 0em;

				a {
					background-image: url("/images/nodo.png");
					background-repeat: no-repeat;
					background-position-x: right;
					background-position-y: top;
					background-size: contain;
					padding: 0.5em 1em;
					display: block;
					color: white;
					text-decoration: none;
				}
			}

			& > li:first-child > a {
				color: #ffffff;
			}

			& > li {
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgU4K/////x/kJEZGRriNdLIaW0gQbzU2h2MzEQAiZQgLCVxH+wAAAABJRU5ErkJggg==);
				background-color: $yellow;

				&:hover {
					filter: brightness(105%);
				}
				
				& + li {
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgU4Kz5w58x/kJBMTE7iNdLIaW0gQbzU2h2MzEQAY1QgLU4ZE3AAAAABJRU5ErkJggg==);
					background-color: $orange;

					&:hover {
						filter: brightness(110%);
					}
						
					& + li {
						background-color: $green;

						&:hover {
							filter: brightness(115%);
						}
							
						& + li {
							background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgU4Ka2tr/4Oc1NzcDLeRTlZjCwnircbmcGwmAgAKBQgLyPD56gAAAABJRU5ErkJggg==);
							background-color: $blue;

							&:hover {
								filter: brightness(120%);
							}
									
							& + li {
								background-color: $brown;

								&:hover {
									filter: brightness(125%);
								}
											
								& + li {
									background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgU4KQ0ND/4OctHr1ariNdLIaW0gQbzU2h2MzEQAChQgL7/se4AAAAABJRU5ErkJggg==);
									background-color: $black;

									&:hover {
										filter: brightness(130%);
									}
								}
							}
						}
					}
				}
			}
	
			li {
				font-size: 1.2em;
				font-weight: bold;
			}
*/			 
		}
	
	}

	.side {
		@include flex(1);
		padding: 1em;
		// min-width: 400px;
	}
}

.abilità {
	h1 {
		display: none;
		visibility: hidden;
	}

	ul.navigazioneAbilità {
		overflow: hidden;
		@include flexbox;
		@include justify-content(flex-start);
		@include flex-wrap(wrap);

		margin-bottom: 1.5em;
		li {
			@include flex(1);
			// &:before {
			// 	font-size: 0.5em;
			// 	vertical-align: middle;
			// 	content: " > ";
			// }
			// &:first-child:before {
			// 	content: "";
			// }

			a {
				display: block;
				color: black;
				text-align: center;
				text-decoration: none;
				font-variant: small-caps;
				margin-right: 1em;
				margin-bottom: 0.5em;
				padding: 0.5em 1em;

				background-color: #f2f2f2;
				border-radius: 0.3em;

				&:hover {
					background-color: #cccccc;
				}
				&:visited {
					color: black;
				}
			}

			&.selected {
				a {
					color: white;
					background-color: $blue;
				}
			}
		}
	}
	img {
		width: 90vw;
	}

}
.pagination {
	border-top: 1px dotted gray;
	padding: 0.5em 0em;
	margin: 0.5em 0em;

	li {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		border-radius: 0.8em;
		text-align: center;
		line-height: 1.5em;
		
		&.active {
			background-color: $blue;
			a {
				color: white;
			}
		}
		a {
			text-decoration: none;

			&[aria-label="First"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "«";
				}
			}

			&[aria-label="Previous"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "‹";
				}
			}

			&[aria-label="Next"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "›";
				}
			}

			&[aria-label="Last"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "»";
				}
			}
		}
	}
}

table {
	$table-padding: 5px;

	margin: 0.5em 0em 1em;
	border-spacing: 0px;
	border: outset 0pt;
	border-collapse: collapse;

	thead {
		tr {
			border-bottom: 1px solid gray;
			text-align: left;
			th {
				padding: 0px $table-padding;
				font-size: 0.8em;
			}
		}
	}

	tbody {
		tr {
			& > td {
				padding: $table-padding;
				width: 7em;
			}
			&:nth-child(even) {
				background: #eee;
			}
		}
	}

}

#main div.notizie {
	& > h1 {
		border-bottom: 1px dotted gray;
	}
	ul.notizie {
		li {
			@include flexbox;
			@include flex-direction(vertical);
			margin-left: -0.5em;

			.thumbnail {
				padding: 0.5em;
				@include flex(1);
			}

			.title {
				padding: 0.5em;
				@include flex(4);

				a {
					margin: 0px;
					h1 {
						font-size: 1.5em;
						margin-top: 0px;
					}
				}
			}
		}
	}
}
article.notizie {
	img {
		border: 1px solid #dddddd;
		padding: 10px;
		width: 80%;
		margin-bottom: 10px;
	}

	.content {
		margin: 0.5em 0em;

		ul {
			margin-top: -0.3em;
			margin-bottom: 0.6em;

			li {
				list-style-type: disc;
				margin-left: 1.5em;
			}
		}
	}
}

ul.album {
	li {
		margin-bottom: 1em;
	}
}

h5.date {
	font-weight: normal;
	color: gray;
}

hr {
//	border-top: 3px double #ccc;
	background-color: #fff;
	border-top: 2px dashed #cccccc;
}

.side {
	.indice-notizie {
		h3 {
			font-size: 1.5em;
		}
		ul {
			margin-top: 0.5em;
			li {
				padding-bottom: 0.5em;

				a {
					color: black;
					&::visited {
						color: black;
					}
				}

				h5 {
					margin: 0px;
				}
			}
		}
	}
}

footer {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(space-between);
	@include flex-wrap(wrap);

	$footer-color: gray;

	border-top: 1px solid gray;

	.datiSocietari {
		@include inline-flex;
		padding: 1em;

		p {
			margin: 0px;
		}

		color: $footer-color;
		font-size: 0.8em;

		.p-name {
			font-size: 1em;
			display: block;
			text-decoration: none;
			color: $footer-color;
			&:visited {
				color: $footer-color;
			}
		}

		.p-street-address {
			display: block;
		}

		.p-region {
			display: block;
		}

		.u-email {
			text-decoration: none;
			color: $footer-color;
		}
	}

	.sponsor {
		@include inline-flex;
		ul {
			li {
				padding: 1em;
				a {
					img {
						width: 200px;
					}
				}
			}
		}
	}
}

@keyframes carousel {
	0%		{ left:0; }
	15%		{ left:0; }
	20%		{ left:-100%; }
	35% 	{ left:-100%; }
	40%		{ left:-200%; }
	55%		{ left:-200%; }
	60% 	{ left:-300%; }
	75% 	{ left:-300%; }
	80% 	{ left:-400%; }
	95% 	{ left:-400%; }
	100%	{ left:0; }
}