//	FlexBox cheatsheet: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
$header-height: 800px;
$logo-width: 800px;
$logo-height: 471px;

$blue: rgba(45, 65, 135, 1);
$red: rgba(196, 45, 42, 1);

$white: rgba(255, 255, 255, 1);
$yellow: rgb(242, 240, 8);
$orange: rgb(241, 148, 22);
$green: rgb(31, 150, 12);
$blue: rgb(30, 19, 106);
$brown: rgb(55, 28, 6);
$black: rgba(20, 20, 20, 1);


@import "normalize";
@import "_flex";
@import "sizes/_options";

h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	margin: 0px;
	font-family: sans-serif;
}

header {
	position: relative;
	overflow: hidden;
	background-color: gray;

	.carousel {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		overflow: hidden;
		
		$numberOfImagesInHeaderCarousel: 5;
		$carouselDuration: 10s;


		.panes {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			width: 100% * $numberOfImagesInHeaderCarousel;

			-moz-animation: carousel $carouselDuration infinite;
			-webkit-animation: carousel $carouselDuration infinite;
			animation: carousel $carouselDuration infinite;	
			
			li {
				position: relative;
				float: left;
				width: 100% / $numberOfImagesInHeaderCarousel;

				img {
					display: block;
					width: 100%;
					max-width: 100%;
				//	opacity: 0.5;
				}				
			}
		}
	}	

	.header {
		position: relative;
		top: 0px;
		left: 0px;

		@include flexbox;
		@include flex-direction(column);

		.top {
			@include flexbox;
			@include flex-direction(row);
			@include justify-content(space-between);

			margin: 1em;
			margin-bottom: 2vw;
			
			.logo {
				background-color: rgba(255, 255, 255, 0.6);
				padding: 1em;
				border-radius: 0.5em;
				width: 40%;
				max-width: 300px;
				
				&:hover {
					background-color: rgba(255, 255, 255, 0.8);
				};

				a {
					display: block;

					img {
						width: 100%;
					}
				}
			}
			
			.spacer {
				width: 2em;
			}
			.onoreficenze {
				@include flexbox;
				@include flex-direction(column);
			//	width: 50%;
			//	max-width: 500px;

				text-decoration: none;
				div {
					background-color: rgba(255, 255, 255, 0.3);
					// background-image: url("/images/stella-argento.png");
					// background-repeat: no-repeat;
					border-radius: 0.5em;
					margin: 0px;
					padding: 1em;

					&:hover {
						background-color: rgba(255, 255, 255, 0.5);
					};
					h3 {
						font-size: 1.5em;
						text-align: right;
						color: white;
						font-family: serif;

						.onoreficenza {
							font-style: italic;
						}
					}
					h5 {
						font-size: 1em;
						text-align: right;
						color: white;
						font-family: serif;
						font-style: italic;
					}
				}
			}
		}
	
		nav {
			background-color: rgba(255, 255, 255, 0.6);
			
			ul {
				@include flexbox;
				@include flex-wrap(wrap);

				li {
					@include flex-grow(1);
					
					a {
						text-align: center;
						display: block;
					//	border-radius: 5px;
					//	margin:5px;
						padding: 10px;
						border-right: 1px solid white;
						border-bottom: 1px solid white;
						
						color: $blue;
						font-weight: bold;
						text-decoration: none;

						&:hover {
							background-color: rgba(255, 255, 255, 0.8);
						}

						&.active {
							background-color: $blue;
							color: white;
						}
						
					}
				}
			}
		}
	}
}

#main {
	padding: 1em;
	max-width: 100%;
	overflow: hidden;

	h1 {
		margin: 0.2em 0em;
	}

	p {
		margin-bottom: 0.5em;
	}

}

#main.home {
	@include flexbox;
	@include flex-direction(row-reverse);
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	padding: 0px;
	
	.mainContent {
		@include flex(3);
		padding: 1em;
		// min-width: 10em;

		h1 {
			font-size: 2.5em;
		}
	
		h3 {
			font-size: 1.5em;
		}
	
		ul {
			font-size: 1.3em;
	
			li {
				padding: 0.5em 1em;
				margin: 0.1em 0em;
				background-image: url("/images/nodo.png");
				background-repeat: no-repeat;
				background-position-x: right;
				background-position-y: top;
				background-size: contain;

				color: white;
			}
	
			& > li {
				background-color: $yellow;

				& + li {
					background-color: $orange;
	
					& + li {
						background-color: $green;
	
						& + li {
							background-color: $blue;
	
							& + li {
								background-color: $brown;
	
								& + li {
									background-color: $black;
								}
							}
						}
					}
				}
			}
	
			li {
				font-size: 1.2em;
				font-weight: bold;
	
	
			}
		}
	
	}

	.side {
		@include flex(1);
		padding: 1em;
		// min-width: 10em;
	}
}

.pagination {
	border-top: 1px dotted gray;
	padding: 0.5em 0em;
	margin: 0.5em 0em;

	li {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		border-radius: 0.8em;
		text-align: center;
		line-height: 1.4em;
		
		&.active {
			background-color: $blue;
			a {
				color: white;
			}
		}
		a {
			text-decoration: none;

			&[aria-label="First"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "«";
				}
			}

			&[aria-label="Previous"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "‹";
				}
			}

			&[aria-label="Next"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "›";
				}
			}

			&[aria-label="Last"] {
				visibility: hidden;
				
				&:before {
					font-size: 1.2em;
					visibility: visible;
					content: "»";
				}
			}
		}
	}
}

table {
	margin: 0.5em 0em 1em;
	border-spacing: 0px;
	border: outset 0pt;
	border-collapse: collapse;

	thead {
		tr {
			border-bottom: 1px solid gray;
			text-align: left;
			th {
				font-size: 0.8em;
			}
		}
	}

	tbody {
		tr {
			& > td {
				width: 7em;
			}
		}
	}

}

#main div.notizie {
	& > h1 {
		border-bottom: 1px dotted gray;
	}
	ul.notizie {
		li {
			@include flexbox;
			@include flex-direction(vertical);
			margin-left: -0.5em;

			.thumbnail {
				padding: 0.5em;
				@include flex(1);
			}

			.title {
				padding: 0.5em;
				@include flex(4);

				a {
					margin: 0px;
					h1 {
						font-size: 1.5em;
						margin-top: 0px;
					}
				}
			}
		}
	}
}
article.notizie {
	.content {
		margin: 0.5em 0em;

		ul {
			margin-top: -0.3em;
			margin-bottom: 0.6em;

			li {
				list-style-type: disc;
				margin-left: 1.5em;
			}
		}
	}
}

.side {
	.indice-notizie {
		h3 {
			font-size: 1.5em;
		}
		ul {
			margin-top: 0.5em;
			li {
				padding-bottom: 0.5em;

				a {
					color: black;
					&::visited {
						color: black;
					}
				}

				h5 {
					margin: 0px;
				}
			}
		}
	}
}

footer {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(space-between);
	@include flex-wrap(wrap);

	background-color: gray;

	.datiSocietari {
		@include inline-flex;
		padding: 1em;

		p {
			margin: 0px;
		}

		color: white;
		font-size: 0.8em;

		.p-name {
			font-size: 1em;
			display: block;
			text-decoration: none;
			color: white;
			&:visited {
				color: white;
			}
		}

		.p-street-address {
			display: block;
		}

		.p-region {
			display: block;
		}

		.u-email {
			text-decoration: none;
			color: white;
		}
	}

	.sponsor {
		@include inline-flex;
		ul {
			li {
				padding: 1em;
				a {
					img {
						width: 200px;
					}
				}
			}
		}
	}
}

@keyframes carousel {
	0%		{ left:0; }
	18%		{ left:0; }
	20%		{ left:-100%; }
	38% 	{ left:-100%; }
	40%		{ left:-200%; }
	58%		{ left:-200%; }
	60% 	{ left:-300%; }
	78% 	{ left:-300%; }
	80% 	{ left:-400%; }
	98% 	{ left:-400%; }
	100%	{ left:0; }
}