$offset: 30px;

body {
	background-color: red;

	header {
		height: 400px;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;

			height: $logo-height / 2;
			width: $logo-width / 2;
			
			img {
				width: inherit;
			}
		}

		nav {
			height: 50px;
		}

		.onorificenze {
			top: $offset;
			right: $offset;
			
			li {
				padding-bottom: 6px;
				font-size: 18pt;
			}
		}
	}

	&.home {
		header {
			height: 700px;
		}
	}
}
