$offset: 10px;

body {
	width: 100%;
	background-color: yellow;

	header {
		height: 150px;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;
			height: $logo-height / 6;
			width: $logo-width / 6;
			
			img {
				width: inherit;
			}
		}

		nav {
			height: 30px;
		}
	
		.onorificenze {
			top: $offset;
			right: $offset;

			li {
				padding-bottom: 2px;
				font-size: 8pt;
			}
		}
	}

	&.home {
		header {
			height: 200px;
		}

		nav {
			height: 50px;
		}
	}
}
