body {
	$offset: 10px;
//	background-color: yellow;

	header {
		height: 400px;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;
			height: $logo-height / 6;
			width: $logo-width / 6;
			
			img {
				width: inherit;
			}
		}

		nav {
//			height: auto;
			ul {
				li {
//					display: block;

					a {
//						width: 100%;
					}
				}
			}
		}
	
		.onorificenze {
			max-width: 40%;
			top: $offset;
			right: $offset;

			li {
				font-weight: bold;
				padding-bottom: 2px;
				font-size: 9pt;
			}
		}
	}

	&.home {
		header {
			height: 200px;
		}

		nav {
			height: 50px;
		}
	}
}
