body {
	$offset: 20px;
	//	background-color: orange;

	header {
		height: 300px;

		.logo {
			top: $offset;
			left: $offset;
			padding: $offset;
			border-radius: $offset / 2;

			height: $logo-height / 4;
			width: $logo-width / 4;
			
			img {
				width: inherit;
			}
		}
		nav {
			height: 40px;
		}
	
		.onorificenze {
			top: $offset;
			right: $offset;
			li {
				padding-bottom: 4px;
				font-size: 12pt;
			}
		}
	}

	&.home {
		header {
			height: 400px;
		}
	}
}
